body{
	font-size: 18px;
	font-family: 'Roboto';
}

.btn{
	border: none;
	background-color: #fafafa;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	box-shadow: 0 0 10px 3px rgba(0,0,0,.2);
	transition: .25s ease-out;

	&:hover{
		box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
	}
}

.transition-light{
	transition: .3s;
}

label{
	user-select: none;
}

::-webkit-scrollbar-track{
	border: 6px solid transparent;
	background-color: #fff;
	width: 5px; }
::-webkit-scrollbar{
	width: 6px;
	height: 6px;
	padding: 5px;
	background-color: #fff; }
::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0,.8);
	border-radius: 6px; }

textarea{
	resize: vertical;
}

.is-hide{
	display: none;
}
.validate{
	border: 2px solid red;
}
input:invalid{
	border: 2px solid red;
}
input:disabled{
	background-color: #eee;
	border: 1px solid #eee;
}
.notification{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.9);
	visibility: hidden;
	opacity: 0;
	transition: .1s ease-out;
	z-index: 50;
	padding-top: 10vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	.notification-message{
		display: inline-block;
		padding: 10px;
		background-color: #fff;
		box-shadow: 0 6px 7px 5px rgba(0,0,0,.2);
		font-size: 18px;
		text-align: center;
		max-width: 400px;
		visibility: hidden;
		opacity: 0;
		transition: .4s ease-out;
		transform: scale(.6) translateY(-50px);
	}
	&--is-show{
		visibility: visible;
		opacity: 1;
		.notification-message{
			transform: scale(1) translateY(0px);
			visibility: visible;
			opacity: 1;
		}
	}
}
