*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:focus {
  outline: none; }

ol, ul {
  list-style-type: none; }

html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none; }

a:active,
a:hover {
  outline-width: 0; }

b,
strong {
  font-weight: inherit; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

body {
  font-size: 18px;
  font-family: 'Roboto'; }

.btn {
  border: none;
  background-color: #ccc;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase; }

.transition-light {
  transition: .3s; }

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

::-webkit-scrollbar-track {
  border: 6px solid transparent;
  background-color: #fff;
  width: 5px; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  padding: 5px;
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px; }

textarea {
  resize: vertical; }

.is-hide {
  display: none; }

.validate {
  border: 2px solid red; }

input:invalid {
  border: 2px solid red; }

input:disabled {
  background-color: #eee;
  border: 1px solid #eee; }

.notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: .1s ease-out;
  z-index: 50;
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .notification .notification-message {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 6px 7px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    text-align: center;
    max-width: 400px;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease-out;
    -webkit-transform: scale(0.6) translateY(-50px);
            transform: scale(0.6) translateY(-50px); }
  .notification--is-show {
    visibility: visible;
    opacity: 1; }
    .notification--is-show .notification-message {
      -webkit-transform: scale(1) translateY(0px);
              transform: scale(1) translateY(0px);
      visibility: visible;
      opacity: 1; }

.sidebar {
  width: 170px;
  height: 100vh;
  background-color: #34495e;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0; }

.pjax-content {
  margin-left: 170px;
  width: calc(100% - 170px); }

.sidebar-panel {
  width: 100%; }
  .sidebar-panel__item-link {
    padding: 20px 15px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    display: block; }
    .sidebar-panel__item-link:hover {
      background-color: #2c3e50; }
    .sidebar-panel__item-link.active {
      background-color: #2c3e50; }

.form-title {
  margin-bottom: 30px; }

.form {
  margin-bottom: 40px;
  display: inline-block; }
  .form input,
  .form select,
  .form option,
  .form textarea {
    font-size: 16px;
    padding: 5px 10px;
    display: block; }

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }
  .form-wrapper .form-wrapper_child:not(:last-child) {
    margin-right: 20px; }
  .form-wrapper label {
    width: 200px; }
    .form-wrapper label select,
    .form-wrapper label input {
      width: 100%; }

.accommodation-booking-checkbox-label,
.accommodation-new-quest-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .accommodation-booking-checkbox-label .accommodation-booking-checkbox,
  .accommodation-booking-checkbox-label .accommodation-new-quest-checkbox,
  .accommodation-new-quest-checkbox-label .accommodation-booking-checkbox,
  .accommodation-new-quest-checkbox-label .accommodation-new-quest-checkbox {
    margin-top: 10px;
    width: 20px;
    height: 20px; }

.list_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0; }

.list {
  padding: 10px;
  font-size: 14px;
  display: inline-block; }

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #ccc;
  background-color: #eee; }
  .list__item:nth-child(odd) {
    background-color: #fafafa; }
  .list__item.changed_field {
    background-color: #fff;
    -webkit-animation: 3s changed_field;
            animation: 3s changed_field; }

.list__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  text-align: center;
  font-size: 17px; }

.list__item_cell {
  padding: 3px 10px;
  border-right: 2px solid #ccc;
  -ms-flex-preferred-size: 1;
      flex-basis: 1; }
  .list__item_cell:first-child {
    border-left: 2px solid #ccc; }

.list__item_cell--auto-width {
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.btn--blue-style {
  padding: 5px 10px;
  border: 1px solid #34495e;
  color: #34495e;
  background-color: #fff;
  transition: .3s ease-out;
  font-weight: 300; }
  .btn--blue-style:hover {
    background-color: #34495e;
    color: #fff; }

.textarea--default {
  width: 420px; }

@-webkit-keyframes changed_field {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes changed_field {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.employees__id {
  text-align: center; }

.employees__salary {
  text-align: center; }

.rooms__service {
  text-align: center; }
  .rooms__service span {
    width: 100%;
    display: block;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2); }
    .rooms__service span:not(:last-child) {
      margin-bottom: 3px; }

.client-form {
  display: none; }
  .client-form.is-visible {
    display: block; }

.info-popup-container {
  position: fixed;
  right: 0;
  top: 20px;
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: .25s ease-out; }
  .info-popup-container--is-show {
    opacity: 1;
    visibility: visible; }

.info-popup input,
.info-popup textarea {
  width: 100%;
  resize: none;
  padding: 5px; }
  .info-popup input:not(:last-child),
  .info-popup textarea:not(:last-child) {
    margin-bottom: 10px; }

.info-popup button {
  display: none; }

.add-client__submit {
  margin-top: auto;
  line-height: 26px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }

.form .add-client__comment-label {
  width: 440px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }
