@import 'includes/fonts';
@import 'includes/reset';
@import 'includes/vars';
@import 'includes/default-style';

.sidebar{
	width: 170px;
	height: 100vh;
	background-color: $blue_style;
	display: inline-flex;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}
.pjax-content{
	margin-left: $sidebar-width;
	width: calc(100% - #{$sidebar-width});
}
.sidebar-panel{
	width: 100%;
	&__item-link{
		padding: 20px 15px;
		color: #fff;
		transition: .3s;
		cursor: pointer;
		display: block;
		&:hover{
			background-color: rgba(44, 62, 80,1.0);
		}
		&.active{
			background-color: rgba(44, 62, 80,1.0);
		}
	}
}


.form-title{
	margin-bottom: 30px;
}

.form{
	margin-bottom: 40px;
	display: inline-block;
	input,
	select,
	option,
	textarea{
		font-size: 16px;
		padding: 5px 10px;
		display: block;
	}
}
.form-wrapper{
	display: flex;
	margin-bottom: 30px;
	.form-wrapper_child{
		&:not(:last-child){
			margin-right: 20px;
		}
	}
	label{
		width: 200px;
		select,
		input{
			width: 100%;
		}
	}
}
.accommodation-booking-checkbox-label,
.accommodation-new-quest-checkbox-label{
	display: flex;
	flex-direction: column;
	align-items: center;
	.accommodation-booking-checkbox,
	.accommodation-new-quest-checkbox{
		margin-top: 10px;
		width: 20px;
		height: 20px;
	}
}

.list_wrapper{display: flex;padding: 20px 0;}
.list{
	padding: 10px;
	font-size: 14px;
	display: inline-block;
}
.only-booking-true{
	.list__item:not(.data-booking-true){
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: -100px;
	}
	.data-booking-true{
	}
}
.list__item{
	display: flex;
	border-bottom: 2px solid #ccc;
	background-color: #eee;
	visibility: visible;
	opacity: 1;
	transition: .5s ease-out;

	&:nth-child(odd){
		background-color: #fafafa;
	}

	&.changed_field{
		background-color: #fff;
		animation: 3s changed_field;
	}
}
.list__info{
	display: flex;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	text-align: center;
	font-size: 17px;
}
.list__item_cell{
	padding: 3px 10px;
	border-right: 2px solid #ccc;
	max-width: 250px;
	&:first-child{
		border-left: 2px solid #ccc;
	}
}
.list__item_cell--auto-width{
	flex-shrink: 1;
}

.btn--blue-style{
	padding: 5px 10px;
	border: 1px solid $blue_style;
	color: $blue_style;
	background-color: #fff;
	transition: .3s ease-out;
	font-weight: 300;
	box-shadow: none;
	&:hover{
		background-color: $blue_style;
		color: #fff;
	}
}

.textarea--default{
	width: 420px;
}

@import 'pages/employees';
@import 'pages/rooms';
@import 'pages/accommodation';
@import 'pages/clients';
